<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="onvenAPP">
    <test name="Regression">
         <classes>
             <class name="onventTests.HomeTest"/>
             <class name="onventTests.RegistrationTest"/>
             <class name="onventTests.DashboardTest"/>
             
          </classes>
     </test>
</suite>